[user]
	email = hello@rangho.me
	name = RangHo Lee
[core]
	pager = delta
	editor = nvim
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	template = ~/Templates/git-commit-template
	gpgSign = false
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[pull]
	rebase = true
