// =====================================================================
// Monitors.
// =====================================================================

//                            +--------------+
//                            | [DP-1]       |
// +--------------------------+              |
// | [DP-2]                   | Samsung      |
// | Samsung Electric Company | Electric Co. |
// | LS32D70xE HNBY100538     | LS32D70xE    |
// |                          | HNBY110538   |
// +--------------------------+              |
//                            |              |
//                            +--------------+

// Horizontal monitor on the left for coffelab.
output "DP-2" {
    focus-at-startup

    scale 1.25
    transform "normal"
    position x=-3072 y=600

    layout {
        default-column-width { proportion 0.666; }
    }
}

// Vertical monitor on the right for coffeelab.
output "DP-1" {
    scale 1.25
    transform "90"
    position x=0 y=0

    hot-corners {
        top-right
    }

    layout {
        gaps 10

        default-column-width { proportion 1.0; }
    }
}


// =====================================================================
// Autostarts.
// =====================================================================

// Kime input method engine.
spawn-at-startup "kime"


// =====================================================================
// Environment variables.
// =====================================================================

environment {
    // Input method settings.
    XMODIFIERS "@im=kime"
}
