// =====================================================================
// Common settings.
// =====================================================================
include "./common/chimera.kdl";


// =====================================================================
// Monitors.
// =====================================================================

// +---------------+
// |               |
// |     eDP-1     |
// |               |
// +---------------+

output "eDP-1" {
    scale 1.0

    layout {
        default-column-width { proportion 1.0; }
    }
}


