// =====================================================================
// Monitors.
// =====================================================================

// +---------------+
// |               |
// |     eDP-1     |
// |               |
// +---------------+

output "eDP-1" {
    scale 1.0

    layout {
        default-column-width { proportion 1.0; }
    }
}


// =====================================================================
// Autostarts.
// =====================================================================

// Fcitx5 input method engine.
spawn-at-startup "fcitx5"


// =====================================================================
// Environment variables.
// =====================================================================

environment {
    // Input method settings.
    XMODIFIERS "@im=fcitx5"
}
