[submodule "emacs/no-littering"]
	path = dot_config/emacs/lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "nushell/contrib"]
	path = dot_config/nushell/contrib
	url = https://github.com/nushell/nu_scripts
[submodule "nushell/opam.nu"]
	path = dot_config/nushell/extern/opam.nu
	url = https://github.com/RangHo/opam.nu
