[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	pager = delta
	editor = vim
	autocrlf = input

[interactive]
	diffFilter = delta --color-only

[init]
	defaultBranch = main

[commit]
	template = ~/Templates/git-commit-template
	gpgSign = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[delta]
	navigate = true

[pull]
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
