!===============================================================================
! __  __                                            
! \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
!  \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!  /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!
! Color scheme created using terminal.sexy, modified by RangHo.
!===============================================================================

!! COLOR SCHEME !!
!----------------!

! Special
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! Black
*.color0:       #474747
*.color8:       #747369

! Red
*.color1:       #f2777a
*.color9:       #bf6060

! Green
*.color2:       #99cc99
*.color10:      #709970

! Yellow
*.color3:       #ffcc66
*.color11:      #cca352

! Blue
*.color4:       #6699cc
*.color12:      #517099

! Magenta
*.color5:       #cc99cc
*.color13:      #997099

! Cyan
*.color6:       #66cccc
*.color14:      #519999

! White
*.color7:       #d3d0c8
*.color15:      #a1a1a1
