// =====================================================================
// Keybindings.
// =====================================================================

binds {
    // Web browser.
    Mod+W              { spawn "zen-browser"; }

    // Email client.
    Mod+M              { spawn "thunderbird"; }
}

// =====================================================================
// Autostarts.
// =====================================================================

// IBus input method engine.
spawn-at-startup "ibus" "start" "--type" "wayland"


// =====================================================================
// Environment variables.
// =====================================================================

environment {
    // Input method settings.
    XMODIFIERS "@im=ibus"
}
