// =====================================================================
// Keybindings.
// =====================================================================

binds {
    // Web browser.
    Mod+W              { spawn "flatpak" "run" "app.zen_browser.zen"; }

    // Email client.
    Mod+M              { spawn "flatpak" "run" "org.mozilla.Thunderbird"; }
}


// =====================================================================
// Autostarts.
// =====================================================================

// Fcitx5 input method engine.
spawn-at-startup "fcitx5"


// =====================================================================
// Environment variables.
// =====================================================================

environment {
    // Input method settings.
    XMODIFIERS "@im=fcitx5"
}
